xml/lsdb_main/lsdb.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  - File: $Id: $
  - Version 2.0
  - Made with Trang: http://www.thaiopensource.com/relaxng/trang.html
  - notes: http://books.xmlschemata.org/relaxng/relax-CHP-13-SECT-1.html
  
  - This program is free software; you can redistribute it and/or
  - modify it under the terms of the GNU General Public License.
  - See  http://www.gnu.org/copyleft/gpl.html
  
  new name space http://varioml.org/xml/1.0
  
  unit added into location has values feature (e.g. num. of exons) and residue
  seq_region annotation taken into use , age added into observation target
  FIXES  put seq_region sub element before annotatable, add gender into the panel (i.e. observation target)
-->
<grammar ns="http://varioml.org/xml/1.0" xmlns:vml="http://varioml.org/xml/1.0" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
       0===0
        O=o
         O		============================================
        o=O		V a r i o M L
       0===0		Relax NGC schema for LSDB data transfer
       0===0		Contact: Juha.Muilu admin@varioml.org
        O=o		============================================
         O
        o=O
       0===0
       0===0 
  -->
  <start>
    <ref name="lsdb"/>
  </start>
  <define name="lsdb">
    <!--
      (=)	===============================
       X	VmlLsdb
      (=)	===============================
    -->
    <element name="lsdb">
      <a:documentation>[% INSERT lsdb.txt %] </a:documentation>
      <ref name="VmlLsdb"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlLsdb">
    <a:documentation>[% INSERT lsdb.txt %] </a:documentation>
    <ref name="VmlSubmission"/>
    <zeroOrMore>
      <ref name="individual"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="panel"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variant"/>
    </zeroOrMore>
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	VmlSubmission
    (=)	===============================
  -->
  <define name="VmlSubmission">
    <a:documentation>[% INSERT submission.txt %]</a:documentation>
    <ref name="VmlIdentifiable"/>
    <optional>
      <attribute name="schema_version">
        <data type="decimal"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="submissionid_type">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <element name="created">
        <a:documentation>Submission/creation time stamp</a:documentation>
        <data type="dateTime"/>
      </element>
    </optional>
    <zeroOrMore>
      <ref name="source">
        <a:documentation>Source(s) of submission</a:documentation>
      </ref>
    </zeroOrMore>
  </define>
  <!--
    (=)	===============================
     X	Abstract observation target
    (=)	===============================
  -->
  <define name="VmlAbstractObservationTarget">
    <a:documentation>[% INSERT abstract_observation_target.txt %]</a:documentation>
    <ref name="VmlIdentifiable"/>
    <optional>
      <ref name="gender"/>
    </optional>
    <optional>
      <ref name="dob"/>
    </optional>
    <optional>
      <ref name="age"/>
    </optional>
    <optional>
      <ref name="original_id"/>
    </optional>
    <optional>
      <!--    , consent ? .. we use DbXref or comment for that -->
      <ref name="role"/>
    </optional>
    <zeroOrMore>
      <ref name="relationship">
        <a:documentation>role in relationship,  subject type e.g index case...</a:documentation>
      </ref>
    </zeroOrMore>
    <optional>
      <ref name="organism">
        <a:documentation>relationship with other targets</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="strain"/>
    </optional>
    <optional>
      <ref name="cultivar"/>
    </optional>
    <zeroOrMore>
      <ref name="phenotype"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="observation"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="population"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variant"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variant_group"/>
    </zeroOrMore>
    <optional>
      <ref name="source"/>
    </optional>
    <ref name="VmlAnnotatable"/>
    <optional>
      <ref name="sharing_policy"/>
    </optional>
    <optional>
      <!-- for legacy reason we have this after VmlAnnotatable -->
      <ref name="creation_date"/>
    </optional>
    <optional>
      <ref name="modification_date"/>
    </optional>
  </define>
  <!--
    (=)	===============================
     X	Individual
    (=)	===============================
  -->
  <define name="individual">
    <element name="individual">
      <a:documentation>[% INSERT individual.txt %]</a:documentation>
      <ref name="VmlIndividual">
        <a:documentation>Individual information. (Variant report of individual)</a:documentation>
      </ref>
      <ref name="VmlForeignNodes"/>
      <empty/>
    </element>
  </define>
  <define name="VmlIndividual">
    <a:documentation>[% INSERT individual.txt %]</a:documentation>
    <ref name="VmlAbstractObservationTarget"/>
  </define>
  <!--
    (=)	===============================
     X	Panel
    (=)	===============================
  -->
  <define name="panel">
    <element name="panel">
      <a:documentation>[% INSERT panel.txt %]</a:documentation>
      <ref name="VmlPanel"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlPanel">
    <a:documentation>[% INSERT panel.txt %]</a:documentation>
    <optional>
      <attribute name="size">
        <data type="integer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="type">
        <choice>
          <value>family</value>
          <value>extended family</value>
          <value>population</value>
        </choice>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="individual"/>
    </zeroOrMore>
    <ref name="VmlAbstractObservationTarget"/>
  </define>
  <!--
    (=)	===============================
     X	Observationsf (NOT USED)
    (=)	===============================
  -->
  <define name="observations">
    <element name="observations">
      <a:documentation>[% INSERT observations.txt %]</a:documentation>
      <ref name="VmlObservationCombo"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <!--
    this is experimental and should not be used. preference is 
    to embed features inside observation targets
  -->
  <define name="VmlObservationCombo">
    <a:documentation>[% INSERT observations.txt %]</a:documentation>
    <optional>
      <choice>
        <ref name="panel"/>
        <ref name="individual"/>
      </choice>
    </optional>
    <zeroOrMore>
      <!-- observation target -->
      <ref name="phenotype"/>
    </zeroOrMore>
    <zeroOrMore>
      <!-- observations -->
      <ref name="variant"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="observation"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variant_group"/>
    </zeroOrMore>
    <optional>
      <ref name="sharing_policy"/>
    </optional>
    <optional>
      <ref name="creation_date"/>
    </optional>
    <optional>
      <ref name="modification_date"/>
    </optional>
  </define>
  <!--
    (=)	===============================
     X	Consent
    (=)	===============================
  -->
  <define name="consent">
    <element name="consent">
      <a:documentation>[% INSERT consent.txt %]  </a:documentation>
      <ref name="VmlConsent"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlConsent">
    <a:documentation>[% INSERT consent.txt %]  </a:documentation>
    <ref name="VmlDbXRef"/>
  </define>
  <!--
    (=)	===============================
     X	SampleID
    (=)	===============================
  -->
  <define name="sampleid">
    <element name="sample">
      <a:documentation>[% INSERT sample.txt %]  </a:documentation>
      <ref name="VmlSample"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlSample">
    <a:documentation>[% INSERT sample.txt %]  </a:documentation>
    <ref name="VmlDbXRef"/>
  </define>
  <!--
    (=)	===============================
     X	Gender
    (=)	===============================
  -->
  <define name="gender">
    <element name="gender">
      <a:documentation>[% INSERT gender.txt %]</a:documentation>
      <ref name="VmlGender"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlGender">
    <a:documentation>[% INSERT gender.txt %]</a:documentation>
    <attribute name="code">
      <choice>
        <value>0</value>
        <value>1</value>
        <value>2</value>
        <value>9</value>
      </choice>
    </attribute>
    <optional>
      <ref name="description"/>
    </optional>
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	Role (role of subject in study or in group or family relationship)
    (=)	===============================
  -->
  <define name="role">
    <element name="role">
      <a:documentation>[% INSERT role.txt %]</a:documentation>
      <ref name="VmlRoleType"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlRoleType">
    <a:documentation>[% INSERT role.txt %]</a:documentation>
    <ref name="VmlOntologyTerm"/>
  </define>
  <!--
    (=)	===============================
     X	Description
     X    Subject type: "Index case", "Relative of index case", "Partner of index case" 
    (=)	===============================
  -->
  <define name="description">
    <a:documentation>[% INSERT description.txt %]</a:documentation>
    <element name="description">
      <ref name="VmlDescription"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlDescription">
    <a:documentation>[% INSERT description.txt %]</a:documentation>
    <ref name="VmlObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Original ID
    (=)	===============================
  -->
  <define name="original_id">
    <element name="original_id">
      <a:documentation>[% INSERT original_id.txt %]  </a:documentation>
      <ref name="VmlOriginalId"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlOriginalId">
    <a:documentation>[% INSERT original_id.txt %]  </a:documentation>
    <ref name="VmlDbXRef"/>
  </define>
  <!--
    (=)	===============================
     X	Submitter id
    (=)	===============================
  -->
  <define name="submitter_id">
    <element name="submitter_id">
      <a:documentation>[% INSERT submitter_id.txt %]  </a:documentation>
      <ref name="VmlSubmitterId"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlSubmitterId">
    <a:documentation>[% INSERT submitter_id.txt %]  </a:documentation>
    <ref name="VmlDbXRef"/>
  </define>
  <!--
    (=)	===============================
     X	Variant
    (=)	===============================
  -->
  <define name="variant">
    <element name="variant">
      <a:documentation>[% INSERT variant.txt %]  </a:documentation>
      <ref name="VmlVariant"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlVariant">
    <a:documentation>[% INSERT variant.txt %]  </a:documentation>
    <ref name="VmlIdentifiable"/>
    <optional>
      <attribute name="type">
        <choice>
          <value>DNA</value>
          <value>cDNA</value>
          <value>RNA</value>
          <value>AA</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="genotypic">
        <value>true</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="subcellular_part">
        <choice>
          <value>nucleus</value>
          <value>mitochondrial</value>
          <value>chloroplast</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="copy_count">
        <data type="float"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="gene"/>
    </zeroOrMore>
    <optional>
      <ref name="ref_seq"/>
    </optional>
    <optional>
      <ref name="name"/>
    </optional>
    <zeroOrMore>
      <ref name="haplotype"/>
    </zeroOrMore>
    <zeroOrMore>
      <!-- haplotypes. Complex variants can be given as a list of phased variants -->
      <ref name="panel"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="seq_region"/>
    </zeroOrMore>
    <zeroOrMore>
      <!-- name of underlying sequence reqion. Use sequence ontology. exon, intron, 3' UTR... -->
      <ref name="variant_type"/>
    </zeroOrMore>
    <zeroOrMore>
      <!-- type of mutation. SNP, insertion, deletion, range, in-del,MNP (mlutip. nuc. poly.),mixed, microsatellite -->
      <ref name="variant_class"/>
    </zeroOrMore>
    <optional>
      <!-- obsolite. Not used -->
      <ref name="original_id"/>
    </optional>
    <zeroOrMore>
      <!-- identifier user in original database (which is not necessary the same as submittors database) -->
      <ref name="exon"/>
    </zeroOrMore>
    <optional>
      <!-- exon number -->
      <ref name="sequence"/>
    </optional>
    <optional>
      <!-- reference and observed sequence -->
      <ref name="genotype"/>
    </optional>
    <zeroOrMore>
      <!-- orginal genotype call (e.g A/T) -->
      <ref name="consequence"/>
    </zeroOrMore>
    <zeroOrMore>
      <!-- consequence of mutation on sequence level -->
      <ref name="pathogenicity"/>
    </zeroOrMore>
    <optional>
      <!-- consequence on phenotypic/disease level -->
      <ref name="sampleid"/>
    </optional>
    <optional>
      <!-- identifier of sample -->
      <ref name="tissue"/>
    </optional>
    <optional>
      <!-- type of tissue -->
      <ref name="variant_detection"/>
    </optional>
    <optional>
      <ref name="restriction_site"/>
    </optional>
    <optional>
      <ref name="tissue_distribution"/>
    </optional>
    <zeroOrMore>
      <ref name="genetic_origin"/>
    </zeroOrMore>
    <zeroOrMore>
      <!-- somatic, de-novo, mother, father... -->
      <ref name="frequency">
        <a:documentation>Frequency in other populations (related frequency).</a:documentation>
      </ref>
    </zeroOrMore>
    <optional>
      <ref name="seq_changes"/>
    </optional>
    <optional>
      <ref name="aliases"/>
    </optional>
    <optional>
      <ref name="source"/>
    </optional>
    <zeroOrMore>
      <!-- should this be investigation -->
      <ref name="location"/>
    </zeroOrMore>
    <optional>
      <ref name="sharing_policy"/>
    </optional>
    <optional>
      <ref name="creation_date"/>
    </optional>
    <optional>
      <ref name="modification_date"/>
    </optional>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	haplotype. phased variants 
    (=)	===============================
  -->
  <define name="haplotype">
    <element name="haplotype">
      <a:documentation>[% INSERT haplotype.txt %]</a:documentation>
      <ref name="VmlHaplotype"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlHaplotype">
    <a:documentation>[% INSERT haplotype.txt %]  </a:documentation>
    <ref name="VmlIdentifiable"/>
    <optional>
      <attribute name="allele">
        <data type="int"/>
      </attribute>
    </optional>
    <optional>
      <!-- id of alleles (sister chromosomes) -->
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <ref name="variant_event"/>
    </oneOrMore>
    <optional>
      <ref name="sequence"/>
    </optional>
    <zeroOrMore>
      <ref name="consequence"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pathogenicity"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="frequency"/>
    </zeroOrMore>
    <optional>
      <ref name="seq_changes"/>
    </optional>
    <optional>
      <ref name="aliases"/>
    </optional>
    <optional>
      <ref name="source"/>
    </optional>
    <zeroOrMore>
      <ref name="location"/>
    </zeroOrMore>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	variant event 
    (=)	===============================
  -->
  <define name="variant_event">
    <element name="variant">
      <a:documentation>[% INSERT variant_event.txt %]</a:documentation>
      <ref name="VmlVariantEvent"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <!--
    (=)	===============================
     X	Variant event. Single co-occurring genomic variantion event which are
     X    part of same variant
    (=)	===============================
  -->
  <define name="VmlVariantEvent">
    <a:documentation>[% INSERT variant_event.txt %]  </a:documentation>
    <ref name="VmlIdentifiable"/>
    <optional>
      <!--
          gene?, gene is defined by the main variant
          ref_seq?, we force users to use same reference as defined in main variant
      -->
      <ref name="name"/>
    </optional>
    <zeroOrMore>
      <ref name="seq_region"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variant_type"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variant_class"/>
    </zeroOrMore>
    <optional>
      <!-- obsolite -->
      <ref name="original_id"/>
    </optional>
    <zeroOrMore>
      <ref name="exon"/>
    </zeroOrMore>
    <optional>
      <!-- legacy exon number -->
      <ref name="sequence"/>
    </optional>
    <zeroOrMore>
      <ref name="consequence"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pathogenicity"/>
    </zeroOrMore>
    <optional>
      <ref name="variant_detection"/>
    </optional>
    <optional>
      <ref name="restriction_site"/>
    </optional>
    <zeroOrMore>
      <ref name="genetic_origin"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="frequency"/>
    </zeroOrMore>
    <optional>
      <ref name="seq_changes"/>
    </optional>
    <optional>
      <ref name="aliases"/>
    </optional>
    <zeroOrMore>
      <ref name="location"/>
    </zeroOrMore>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Consequent_variant
    (=)	===============================
  -->
  <define name="VmlConsequentVariant">
    <a:documentation>[% INSERT consequent_variant.txt %]  </a:documentation>
    <ref name="VmlIdentifiable"/>
    <optional>
      <attribute name="type">
        <choice>
          <value>cDNA</value>
          <value>RNA</value>
          <value>AA</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <ref name="ref_seq"/>
    </optional>
    <ref name="name"/>
    <zeroOrMore>
      <ref name="seq_region"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variant_type"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="variant_class"/>
    </zeroOrMore>
    <optional>
      <!-- oboslite -->
      <ref name="original_id"/>
    </optional>
    <optional>
      <ref name="sequence"/>
    </optional>
    <optional>
      <ref name="genotype"/>
    </optional>
    <zeroOrMore>
      <ref name="consequence"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pathogenicity"/>
    </zeroOrMore>
    <optional>
      <ref name="variant_detection"/>
    </optional>
    <optional>
      <ref name="tissue_distribution"/>
    </optional>
    <optional>
      <ref name="seq_changes"/>
    </optional>
    <optional>
      <ref name="aliases"/>
    </optional>
    <zeroOrMore>
      <ref name="location"/>
    </zeroOrMore>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Consequent_variantS
    (=)	===============================
  -->
  <define name="VmlConsequentVariants">
    <a:documentation>[% INSERT consequent_variants.txt %]</a:documentation>
    <oneOrMore>
      <element name="variant">
        <ref name="VmlConsequentVariant"/>
        <ref name="VmlForeignNodes"/>
      </element>
    </oneOrMore>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	sequence changes 
    (=)	===============================
  -->
  <define name="seq_changes">
    <element name="seq_changes">
      <a:documentation>[% INSERT seq_changes.txt %]</a:documentation>
      <ref name="VmlConsequentVariants"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <!--
    (=)	===============================
     X	Related_variants
    (=)	===============================
  -->
  <define name="VmlRelatedVariants">
    <a:documentation>[% INSERT related_variants.txt %]</a:documentation>
    <oneOrMore>
      <ref name="variant"/>
    </oneOrMore>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Aliases
    (=)	===============================
  -->
  <define name="aliases">
    <element name="aliases">
      <a:documentation>[% INSERT aliases.txt %]</a:documentation>
      <ref name="VmlRelatedVariants"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <!--
    (=)	===============================
     X	Variant name
    (=)	===============================
  -->
  <define name="name">
    <element name="name">
      <a:documentation>[% INSERT variant_name.txt %]</a:documentation>
      <ref name="VmlName"/>
    </element>
  </define>
  <define name="VmlName">
    <a:documentation>[% INSERT variant_name.txt %] </a:documentation>
    <optional>
      <attribute name="scheme"/>
    </optional>
    <text/>
  </define>
  <!--
    (=)	===============================
     X	Sequence
    (=)	===============================
  -->
  <define name="sequence">
    <element name="sequence">
      <a:documentation>[% INSERT sequence.txt %]</a:documentation>
      <ref name="VmlSequence"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlSequence">
    <a:documentation>[% INSERT sequence.txt %] </a:documentation>
    <element name="reference">
      <text/>
    </element>
    <element name="variant">
      <text/>
    </element>
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	Genotype
    (=)	===============================
  -->
  <define name="genotype">
    <element name="genotype">
      <a:documentation>[% INSERT genotype.txt %]</a:documentation>
      <ref name="VmlGenotype"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlGenotype">
    <a:documentation>[% INSERT genotype.txt %] </a:documentation>
    <element name="call">
      <text/>
    </element>
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	Reference sequence
    (=)	===============================
  -->
  <define name="ref_seq">
    <element name="ref_seq">
      <a:documentation>[% INSERT ref_seq.txt %]</a:documentation>
      <ref name="VmlRefSeq"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlRefSeq">
    <a:documentation>[% INSERT ref_seq.txt %]</a:documentation>
    <ref name="VmlDbXRef"/>
  </define>
  <!--
    (=)	===============================
     X	Protocol identifier
    (=)	===============================
  -->
  <define name="protocol_id">
    <element name="protocol_id">
      <a:documentation>[% INSERT protocol_id.txt %]</a:documentation>
      <ref name="VmlProtocolId"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlProtocolId">
    <ref name="VmlDbXRef"/>
  </define>
  <!--
    (=)	===============================
     X	Observation date
    (=)	===============================
  -->
  <define name="observation_date">
    <element name="observation_date">
      <a:documentation>[% INSERT observation_date.txt %]</a:documentation>
      <ref name="VmlObservationDate"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlObservationDate">
    <optional>
      <attribute name="coded">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <!-- Used when exact date cannot be given -->
      <attribute name="date">
        <ref name="VmlDate"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="age">
        <data type="float"/>
      </attribute>
    </optional>
    <!-- age at the time of observation -->
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	Gene
    (=)	===============================
  -->
  <define name="gene">
    <element name="gene">
      <a:documentation>[% INSERT gene.txt %]</a:documentation>
      <ref name="VmlGene"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlGene">
    <a:documentation>[% INSERT gene.txt %]</a:documentation>
    <ref name="VmlDbXRef"/>
  </define>
  <!--
    (=)	===============================
     X	Date of brith
    (=)	===============================
  -->
  <define name="dob">
    <!-- date of birth -->
    <element name="dob">
      <a:documentation>[% INSERT dob.txt %]</a:documentation>
      <ref name="VmlDobDate"/>
    </element>
  </define>
  <define name="VmlDobDate">
    <a:documentation>[% INSERT dob.txt %]</a:documentation>
    <ref name="VmlDate"/>
  </define>
  <!--
    (=)	===============================
     X	Age
    (=)	===============================
  -->
  <define name="age">
    <!---->
    <element name="age">
      <a:documentation>[% INSERT age.txt %]</a:documentation>
      <ref name="VmlAge"/>
    </element>
  </define>
  <define name="VmlAge">
    <a:documentation>[% INSERT age.txt %]</a:documentation>
    <optional>
      <attribute name="coded">
        <data type="boolean"/>
      </attribute>
    </optional>
    <!-- age is coded. E.g. number of age group -->
    <data type="float"/>
  </define>
  <!--
    (=)	===============================
     X	Mod and Create Date
    (=)	===============================
  -->
  <define name="modification_date">
    <element name="modification_date">
      <a:documentation>[% INSERT modification_date.txt %]</a:documentation>
      <ref name="VmlModificationDate"/>
    </element>
  </define>
  <define name="VmlModificationDate">
    <a:documentation>[% INSERT modification_date.txt %]</a:documentation>
    <ref name="VmlDate"/>
  </define>
  <define name="creation_date">
    <element name="creation_date">
      <a:documentation>[% INSERT creation_date.txt %]</a:documentation>
      <ref name="VmlCreationDate"/>
    </element>
  </define>
  <define name="VmlCreationDate">
    <a:documentation>[% INSERT creation_date.txt %]</a:documentation>
    <ref name="VmlDate"/>
  </define>
  <define name="variant_type">
    <a:documentation>type of underlying sequence region. Use sequence ontology. exon, intron, 3' UTR... functional class in dbSNP</a:documentation>
    <element name="variant_type">
      <a:documentation>[% INSERT variant_type.txt %]</a:documentation>
      <ref name="VmlVariantType"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlVariantType">
    <ref name="VmlOntologyTerm"/>
  </define>
  <define name="variant_class">
    <!-- - - [% INSERT variant_class.txt %] -->
    <element name="variant_class">
      <ref name="VmlVariantClass"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlVariantClass">
    <ref name="VmlOntologyTerm"/>
  </define>
  <define name="organism">
    <element name="organism">
      <a:documentation>[% INSERT organism.txt %]</a:documentation>
      <ref name="VmlOrganism"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlOrganism">
    <ref name="VmlOntologyTerm"/>
  </define>
  <define name="strain">
    <element name="strain">
      <a:documentation>[% INSERT strain.txt %]</a:documentation>
      <ref name="VmlStrain"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlStrain">
    <ref name="VmlOntologyTerm"/>
  </define>
  <define name="cultivar">
    <element name="cultivar">
      <a:documentation>[% INSERT cultivar.txt %]</a:documentation>
      <ref name="VmlCultivar"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlCultivar">
    <ref name="VmlOntologyTerm"/>
  </define>
  <define name="tissue">
    <element name="tissue">
      <a:documentation>[% INSERT tissue.txt %]</a:documentation>
      <ref name="VmlTissue"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlTissue">
    <ref name="VmlOntologyTerm"/>
  </define>
  <define name="tissue_distribution">
    <element name="tissue_distribution">
      <a:documentation>[% INSERT tissue_distribution.txt %]</a:documentation>
      <ref name="VmlTissueDistribution"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlTissueDistribution">
    <a:documentation>[% INSERT tissue_distribution.txt %]</a:documentation>
    <ref name="VmlOntologyTerm"/>
  </define>
  <define name="relationship">
    <element name="relationship">
      <a:documentation>relationships .. NOT NEEDED
[% INSERT relationship.txt %]</a:documentation>
      <ref name="VmlRelationship"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlRelationship">
    <zeroOrMore>
      <ref name="individual"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="panel"/>
    </zeroOrMore>
    <ref name="VmlOntologyTerm"/>
  </define>
  <!--
    (=)	===============================
     X	Restriction site ontology term
    (=)	===============================
  -->
  <define name="restriction_site">
    <element name="restriction_site">
      <a:documentation>[% INSERT restriction_site.txt %]</a:documentation>
      <ref name="VmlRestrictionSite"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlRestrictionSite">
    <a:documentation>[% INSERT restriction_site.txt %]</a:documentation>
    <ref name="VmlOntologyTerm"/>
  </define>
  <!--
    (=)	===============================
     X	Exon
    (=)	===============================
  -->
  <define name="exon">
    <element name="exon">
      <a:documentation>[% INSERT exon.txt %]</a:documentation>
      <ref name="VmlExon"/>
    </element>
  </define>
  <define name="VmlExon">
    <a:documentation>[% INSERT exon.txt %]</a:documentation>
    <optional>
      <attribute name="source"/>
    </optional>
    <optional>
      <attribute name="accession"/>
    </optional>
    <optional>
      <attribute name="transcript_ref"/>
    </optional>
    <text/>
  </define>
  <!--
    (=)	===============================
     X	 
     X    
    (=)	===============================
  -->
  <define name="seq_region">
    <element name="seq_region">
      <a:documentation>[% INSERT seq_region.txt %]</a:documentation>
      <ref name="VmlSeqRegion"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlSeqRegion">
    <a:documentation>[% INSERT seq_region.txt %]</a:documentation>
    <zeroOrMore>
      <ref name="seq_region"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="location"/>
    </zeroOrMore>
    <ref name="VmlOntologyTerm"/>
  </define>
  <!--
    (=)	===============================
     X	Consequence of mutation
    (=)	===============================
  -->
  <define name="consequence">
    <!-- Vmlconsequence.attlist &= attribute type {'Complex frameshift'|'Exon deletion'|'Exon duplication'|'Frameshift'|'In-frame deletion'|'In-frame duplication'|'In-frame insertion'|'Intronic variant'|'Missense'|'Nonsense'|'Out of frame deletion'|'Out of frame duplication'|'Out of frame insertion'|'Silent'|'Splice site variant'} -->
    <element name="consequence">
      <a:documentation>[% INSERT consequence.txt %]</a:documentation>
      <ref name="VmlConsequence"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlConsequence">
    <a:documentation>[% INSERT consequence.txt %]</a:documentation>
    <ref name="VmlObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Genetic origin
    (=)	===============================
  -->
  <define name="genetic_origin">
    <element name="genetic_origin">
      <a:documentation>[% INSERT genetic_origin.txt %]</a:documentation>
      <ref name="VmlGenetic_origin"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlGenetic_origin">
    <a:documentation>[% INSERT genetic_origin.txt %]</a:documentation>
    <optional>
      <ref name="genetic_source"/>
    </optional>
    <ref name="VmlObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Genetic source
    (=)	===============================
  -->
  <define name="genetic_source">
    <element name="source">
      <a:documentation>[% INSERT genetic_source.txt %]</a:documentation>
      <ref name="VmlGeneticSource"/>
    </element>
  </define>
  <define name="VmlGeneticSource">
    <a:documentation>[% INSERT genetic_origin.txt %]</a:documentation>
    <zeroOrMore>
      <ref name="population"/>
    </zeroOrMore>
    <ref name="VmlObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Location
    (=)	===============================
  -->
  <define name="location">
    <element name="location">
      <a:documentation>[% INSERT location.txt %] 
</a:documentation>
      <ref name="VmlLocation"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlLocation">
    <a:documentation>[% INSERT location.txt %]</a:documentation>
    <optional>
      <ref name="ref_seq"/>
    </optional>
    <optional>
      <attribute name="unit">
        <choice>
          <value>feature</value>
          <value>residue</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <element name="chr">
        <data type="string"/>
      </element>
    </optional>
    <element name="start">
      <data type="integer"/>
    </element>
    <optional>
      <element name="end">
        <data type="integer"/>
      </element>
    </optional>
  </define>
  <!--
    (=)	===============================
     X	Sharing policy
    (=)	===============================
  -->
  <define name="sharing_policy">
    <element name="sharing_policy">
      <a:documentation>[% INSERT sharing_policy.txt %]</a:documentation>
      <ref name="VmlSharingPolicy"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <!-- see documentation: http://wiki.surffoundation.nl/display/standards/info-eu-repo/#info-eu-repo-AccessRights -->
  <define name="VmlSharingPolicy">
    <a:documentation>[% INSERT sharing_policy.txt %]</a:documentation>
    <attribute name="type">
      <choice>
        <value>closedAccess</value>
        <value>embargoedAccess</value>
        <value>restrictedAccess</value>
        <value>openAccess</value>
      </choice>
    </attribute>
    <optional>
      <ref name="embargo_end_date"/>
    </optional>
    <optional>
      <ref name="use_permission"/>
    </optional>
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	Embargo date
    (=)	===============================
  -->
  <define name="embargo_end_date">
    <element name="embargo_end_date">
      <a:documentation>[% INSERT embargo_end_date.txt %]</a:documentation>
      <ref name="VmlEmbargo_end_date"/>
    </element>
  </define>
  <define name="VmlEmbargo_end_date">
    <a:documentation>[% INSERT embargo_end_date.txt %]</a:documentation>
    <data type="date"/>
    <optional>
      <attribute name="is_undefined">
        <value>true</value>
      </attribute>
    </optional>
  </define>
  <!--
    (=)	===============================
     X	Use permission
    (=)	===============================
  -->
  <define name="use_permission">
    <element name="use_permission">
      <a:documentation>[% INSERT use_permission.txt %]</a:documentation>
      <ref name="VmlUsePermission"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlUsePermission">
    <ref name="VmlOntologyTerm"/>
  </define>
  <!--
    (=)	===============================
     X	Pathogenicity
    (=)	===============================
    Vmlpathogenicity.attlist &= attribute type {'Non-pathogenic'|'Not Known'|'Pathogenic'|'Probably Not Pathogenic'|'Probably Pathogenic'}
  -->
  <define name="pathogenicity">
    <element name="pathogenicity">
      <a:documentation>[% INSERT pathogenicity.txt %]</a:documentation>
      <ref name="VmlPathogenicity"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlPathogenicity">
    <a:documentation>[% INSERT pathogenicity.txt %]</a:documentation>
    <optional>
      <attribute name="scope">
        <choice>
          <value>individual</value>
          <value>family</value>
          <value>population</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="panel_ref">
        <ref name="VmlId"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="phenotype"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="factor"/>
    </zeroOrMore>
    <ref name="VmlObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Factor
    (=)	===============================
  -->
  <define name="factor">
    <element name="factor">
      <a:documentation>[% INSERT factor.txt %]</a:documentation>
      <ref name="VmlFactor"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlFactor">
    <a:documentation>[% INSERT factor.txt %]</a:documentation>
    <ref name="VmlObservation"/>
  </define>
  <!--
    (=)	===============================
     X
    (=)	===============================
  -->
  <define name="variant_group">
    <element name="variant_group">
      <a:documentation>[% INSERT variant_group.txt %]</a:documentation>
      <ref name="VmlVariantGroup"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <!--
    ..
    this is experimental
  -->
  <define name="VmlVariantGroup">
    <a:documentation>[% INSERT variant_group.txt %]</a:documentation>
    <ref name="VmlIdentifiable"/>
    <optional>
      <attribute name="orientation">
        <choice>
          <value>cis</value>
          <value>trans</value>
          <value>unknown</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <ref name="group_type"/>
    </optional>
    <oneOrMore>
      <ref name="variant"/>
    </oneOrMore>
    <zeroOrMore>
      <ref name="frequency"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pathogenicity"/>
    </zeroOrMore>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Variant detection
    (=)	===============================
  -->
  <define name="variant_detection">
    <element name="variant_detection">
      <a:documentation>[% INSERT variant_detection.txt %]</a:documentation>
      <ref name="VmlVariantDetection"/>
    </element>
  </define>
  <define name="VmlVariantDetection">
    <a:documentation>[% INSERT variant_detection.txt %]</a:documentation>
    <attribute name="template">
      <choice>
        <value>DNA</value>
        <value>RNA</value>
        <value>cDNA</value>
        <value>AA</value>
      </choice>
    </attribute>
    <attribute name="technique"/>
    <optional>
      <ref name="protocol_id"/>
    </optional>
    <ref name="VmlAnnotatable"/>
    <ref name="VmlForeignNodes"/>
  </define>
  <!-- VmlVariantDetection.attlist &= attribute type {'ARMS'|'CF20'|'CF29'|'CSCE'|'DGGE'|'dHPLC'|'Heteroduplex analysis'|'Loss of heterozygosity analysis'|'Meta-PCR'|'MLPA'|'MS-PCR'|'Multiplex PCR'|'Not Known'|'Not Specified'|'PCR-PAGE'|'PTT'|'RNA'|'Sequencing'|'SNPlex'|'SSCP'|'SSCP/Heteroduplex'} -->
  <!--
    (=)	===============================
     X	Database cross reference
    (=)	===============================
  -->
  <define name="db_xref">
    <element name="db_xref">
      <a:documentation>[% INSERT db_xref.txt %]</a:documentation>
      <ref name="VmlDbXRef"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <!--
    (=)	===============================
     X	Observations of individual
    (=)	===============================
  -->
  <define name="observation">
    <element name="observation">
      <a:documentation>[% INSERT observation.txt %]</a:documentation>
      <ref name="VmlGenericObservation"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlGenericObservation">
    <a:documentation>[% INSERT observation.txt %]</a:documentation>
    <ref name="VmlObservation"/>
    <optional>
      <attribute name="type">
        <choice>
          <value>lifestyle</value>
          <value>environment</value>
          <value>relationship</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    (=)	===============================
     X	Phenotype of individual
    (=)	===============================
  -->
  <define name="phenotype">
    <element name="phenotype">
      <a:documentation>[% INSERT phenotype.txt %]</a:documentation>
      <ref name="VmlPhenotype"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlPhenotype">
    <a:documentation>[% INSERT phenotype.txt %]</a:documentation>
    <optional>
      <attribute name="type">
        <choice>
          <value>symptom</value>
          <value>diagnose</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <ref name="inheritance_pattern"/>
    </optional>
    <ref name="VmlObservation"/>
  </define>
  <define name="inheritance_pattern">
    <element name="inheritance_pattern">
      <a:documentation>[% INSERT inheritance_pattern.txt %]</a:documentation>
      <ref name="VmlInheritancePattern"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlInheritancePattern">
    <ref name="VmlObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Frequency (of rare allele)
    (=)	===============================
  -->
  <define name="frequency">
    <element name="frequency">
      <a:documentation>[% INSERT frequency.txt %]</a:documentation>
      <ref name="VmlFrequency"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlFrequency">
    <a:documentation>[% INSERT frequency.txt %]</a:documentation>
    <optional>
      <attribute name="samples">
        <data type="int"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="type">
        <choice>
          <value>allele</value>
          <value>carrier</value>
          <value>genotype</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <ref name="population"/>
    </optional>
    <ref name="frequency_value"/>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <define name="frequency_value">
    <choice>
      <ref name="freq_as_number"/>
      <ref name="freq_as_counts"/>
      <ref name="freq_as_category"/>
    </choice>
  </define>
  <define name="freq_as_number">
    <a:documentation>Frequency as a number</a:documentation>
    <element name="freq">
      <data type="float"/>
    </element>
  </define>
  <define name="freq_as_counts">
    <a:documentation>Number of cases</a:documentation>
    <element name="counts">
      <data type="int"/>
    </element>
  </define>
  <define name="freq_as_category">
    <a:documentation>Frequency as a category</a:documentation>
    <element name="category">
      <ref name="VmlOntologyTerm"/>
    </element>
  </define>
  <!--
    (=)	===============================
     X	Population ontology term
    (=)	===============================
  -->
  <define name="population">
    <element name="population">
      <a:documentation>[% INSERT population.txt %]</a:documentation>
      <ref name="VmlPopulation"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlPopulation">
    <a:documentation>[% INSERT population.txt %]</a:documentation>
    <attribute name="type">
      <a:documentation>type of population</a:documentation>
      <choice>
        <value>region</value>
        <value>nationality</value>
        <value>ethnic</value>
        <value>race</value>
        <value>organism</value>
        <value>group</value>
        <value>primary_language</value>
        <value>language_family</value>
        <value>other</value>
        <value>unknown</value>
      </choice>
    </attribute>
    <ref name="VmlObservation">
      <a:documentation>population defined as ontology term</a:documentation>
    </ref>
  </define>
  <!--
    (=)	===============================
     X	Evidence code
    (=)	===============================
  -->
  <define name="evidence_code">
    <element name="evidence_code">
      <a:documentation>[% INSERT evidence_code.txt %]</a:documentation>
      <ref name="VmlEvidenceCode"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlEvidenceCode">
    <zeroOrMore>
      <ref name="score"/>
    </zeroOrMore>
    <ref name="VmlOntologyTerm"/>
  </define>
  <!--
    (=)	===============================
     X	Score
    (=)	===============================
  -->
  <define name="score">
    <element name="score">
      <a:documentation>[% INSERT score.txt %]</a:documentation>
      <ref name="VmlScore"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlScore">
    <element name="value">
      <data type="float"/>
    </element>
    <ref name="VmlOntologyTerm"/>
  </define>
  <!--
    (=)	===============================
     X	GroupType
    (=)	===============================
  -->
  <define name="group_type">
    <element name="group_type">
      <a:documentation>[% INSERT group_type.txt %]</a:documentation>
      <ref name="VmlGroupType"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlGroupType">
    <ref name="VmlOntologyTerm"/>
  </define>
  <!--
    (=)	===============================
     X	Annotatable
    (=)	===============================
  -->
  <define name="VmlAnnotatable">
    <a:documentation>[% INSERT annotatable.txt %]</a:documentation>
    <zeroOrMore>
      <ref name="db_xref"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="comment"/>
    </zeroOrMore>
  </define>
  <!--
    (=)	===============================
     X	Observation
    (=)	===============================
  -->
  <define name="VmlAbstractObservation">
    <a:documentation>[% INSERT observation.txt %]</a:documentation>
    <zeroOrMore>
      <ref name="value"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="evidence_code"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="protocol_id"/>
    </zeroOrMore>
    <optional>
      <ref name="observation_date"/>
    </optional>
  </define>
  <!--
    (=)	===============================
     X	Annotated observation !
    (=)	===============================
  -->
  <define name="VmlAnnotatedAbstractObservation">
    <a:documentation>Not implemented- order of elements is not set.</a:documentation>
    <ref name="VmlAbstractObservation"/>
    <ref name="VmlAnnotatable"/>
  </define>
  <!-- VmlGenomic_observation = VmlIdentifiable, VmlAnnotatedAbstractObservation -->
  <!--
    (=)	===============================
     X	Ontology term
    (=)	===============================
  -->
  <define name="VmlOntologyTerm">
    <a:documentation>[% INSERT ontology_term.txt %]</a:documentation>
    <ref name="VmlOntology"/>
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	Evidence ontology term
    (=)	===============================
  -->
  <define name="VmlObservation">
    <a:documentation>[% INSERT evidence_ontology_term.txt %]</a:documentation>
    <ref name="VmlOntology"/>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Comments
    (=)	===============================
  -->
  <define name="comment">
    <element name="comment">
      <a:documentation>[% INSERT comment.txt %]</a:documentation>
      <ref name="VmlComment"/>
      <!-- element generic annotations and observations -->
    </element>
  </define>
  <define name="VmlComment">
    <a:documentation>[% INSERT comment.txt %]</a:documentation>
    <optional>
      <attribute name="source"/>
    </optional>
    <optional>
      <attribute name="accession"/>
    </optional>
    <optional>
      <attribute name="uri">
        <ref name="VmlUri"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="term"/>
    </optional>
    <zeroOrMore>
      <ref name="comment_text"/>
    </zeroOrMore>
    <ref name="VmlAnnotatedAbstractObservation"/>
  </define>
  <!--
    (=)	===============================
     X	Text
    (=)	===============================
  -->
  <define name="comment_text">
    <element name="text">
      <a:documentation>[% INSERT text.txt %]</a:documentation>
      <ref name="VmlText"/>
    </element>
  </define>
  <define name="VmlText">
    <a:documentation>[% INSERT text.txt %]</a:documentation>
    <optional>
      <attribute name="content_type"/>
    </optional>
    <optional>
      <attribute name="lang"/>
    </optional>
    <optional>
      <attribute name="encoding"/>
    </optional>
    <text/>
  </define>
  <!--
    (=)	===============================
     X	Value/Name value pair
    (=)	===============================
  -->
  <define name="value">
    <!---->
    <element name="value">
      <a:documentation>[% INSERT value.txt %]</a:documentation>
      <ref name="VmlValue"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlValue">
    <a:documentation>[% INSERT value.txt %]</a:documentation>
    <ref name="VmlOntologyTerm"/>
    <optional>
      <attribute name="unit">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="type">
        <choice>
          <value>integer</value>
          <value>float</value>
          <value>text</value>
          <value>date</value>
          <value>datetime</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="val">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="nval">
        <data type="double"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="value"/>
    </zeroOrMore>
  </define>
  <!--
    (=)	===============================
     X	Source
    (=)	===============================
  -->
  <define name="source">
    <element name="source">
      <a:documentation>[% INSERT source.txt %]</a:documentation>
      <ref name="VmlSource"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlSource">
    <a:documentation>[% INSERT source.txt %]</a:documentation>
    <ref name="VmlIdentifiable"/>
    <optional>
      <attribute name="version"/>
    </optional>
    <optional>
      <attribute name="date">
        <data type="date"/>
      </attribute>
    </optional>
    <element name="name">
      <text/>
    </element>
    <zeroOrMore>
      <element name="url">
        <text/>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contact"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="acknowledgement"/>
    </zeroOrMore>
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	Contact
    (=)	===============================
  -->
  <define name="contact">
    <a:documentation>[% INSERT contact.txt %]</a:documentation>
    <element name="contact">
      <ref name="VmlContact"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlContact">
    <a:documentation>[% INSERT contact.txt %]</a:documentation>
    <element name="name">
      <text/>
    </element>
    <zeroOrMore>
      <element name="url">
        <text/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="address">
        <text/>
      </element>
    </optional>
    <optional>
      <element name="phone">
        <text/>
      </element>
    </optional>
    <optional>
      <element name="fax">
        <text/>
      </element>
    </optional>
    <optional>
      <element name="email">
        <text/>
      </element>
    </optional>
    <optional>
      <attribute name="role">
        <data type="string" datatypeLibrary=""/>
      </attribute>
    </optional>
    <!-- curator etc. -->
    <ref name="VmlAnnotatable"/>
  </define>
  <define name="acknowledgement">
    <element name="acknowledgement">
      <a:documentation>[% INSERT acknowledgement.txt %]  </a:documentation>
      <ref name="VmlAcknowledgement"/>
      <ref name="VmlForeignNodes"/>
    </element>
  </define>
  <define name="VmlAcknowledgement">
    <a:documentation>[% INSERT acknowledgement.txt %]  </a:documentation>
    <element name="name">
      <text/>
    </element>
    <optional>
      <element name="grant_number">
        <ref name="VmlDbXRef"/>
      </element>
    </optional>
    <ref name="VmlAnnotatable"/>
  </define>
  <!--
    (=)	===============================
     X	Basic types
    (=)	===============================
  -->
  <!-- DATE -->
  <define name="VmlDate">
    <a:documentation>[% INSERT date.txt %]  </a:documentation>
    <choice>
      <data type="gYear"/>
      <data type="gYearMonth"/>
      <data type="date"/>
      <data type="dateTime"/>
    </choice>
  </define>
  <!-- URI -->
  <define name="VmlUri">
    <a:documentation>[% INSERT uri.txt %]  </a:documentation>
    <data type="anyURI"/>
  </define>
  <!-- URL -->
  <define name="Vmlurl">
    <a:documentation>[% INSERT url.txt %]  </a:documentation>
    <data type="anyURI"/>
  </define>
  <!-- ID -->
  <define name="VmlId">
    <a:documentation>[% INSERT id.txt %]  </a:documentation>
    <data type="string"/>
  </define>
  <!-- ACCESSION -->
  <define name="VmlAccession">
    <a:documentation>[% INSERT accession.txt %]  </a:documentation>
    <data type="string"/>
  </define>
  <!-- NAME -->
  <define name="VmlNameStr">
    <a:documentation>[% INSERT name.txt %]  </a:documentation>
    <data type="string"/>
  </define>
  <!-- AtomEmailAddress -->
  <define name="VmlDbXRef">
    <a:documentation>[% INSERT AtomEmailAddress.txt %]  </a:documentation>
    <!-- VmlAtomEmailAddress = xsd:string { pattern = ".+@.+" } -->
    <a:documentation>[% INSERT db_xref.txt %]</a:documentation>
    <optional>
      <attribute name="source"/>
    </optional>
    <optional>
      <attribute name="accession"/>
    </optional>
    <optional>
      <attribute name="name"/>
    </optional>
    <optional>
      <attribute name="uri">
        <ref name="VmlUri"/>
      </attribute>
    </optional>
    <ref name="VmlAnnotatable"/>
  </define>
  <define name="VmlOntology">
    <a:documentation>[% INSERT ontology_class.txt %]</a:documentation>
    <optional>
      <attribute name="source"/>
    </optional>
    <optional>
      <attribute name="accession"/>
    </optional>
    <optional>
      <attribute name="uri">
        <ref name="VmlUri"/>
      </attribute>
    </optional>
    <attribute name="term"/>
    <optional>
      <element name="description">
        <text/>
      </element>
    </optional>
  </define>
  <define name="VmlIdentifiable">
    <a:documentation>[% INSERT identifiable.txt %]</a:documentation>
    <optional>
      <attribute name="id">
        <ref name="VmlId"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="uri">
        <ref name="VmlUri"/>
      </attribute>
    </optional>
  </define>
  <!--
    (=)	===============================
     X	Foreign Nodes
    (=)	===============================
    See:
      http://books.xmlschemata.org/relaxng/relax-CHP-11-SECT-4.html
    
  -->
  <define name="VmlForeignNodes">
    <a:documentation>[% INSERT foreign.txt %]  </a:documentation>
    <zeroOrMore>
      <choice>
        <ref name="VmlForeignElements"/>
        <ref name="VmlForeignAttributes"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="VmlAnything">
    <a:documentation>[% INSERT anything.txt %]</a:documentation>
    <zeroOrMore>
      <choice>
        <element>
          <anyName/>
          <ref name="VmlAnything"/>
        </element>
        <attribute>
          <anyName/>
        </attribute>
        <text/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="VmlForeignElements">
    <a:documentation>[% INSERT foreign.txt %]</a:documentation>
    <zeroOrMore>
      <element>
        <anyName>
          <except>
            <nsName ns=""/>
            <nsName/>
          </except>
        </anyName>
        <ref name="VmlAnything"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="VmlForeignAttributes">
    <a:documentation>[% INSERT foreign.txt %]</a:documentation>
    <zeroOrMore>
      <attribute>
        <anyName>
          <except>
            <nsName ns=""/>
            <nsName/>
          </except>
        </anyName>
      </attribute>
    </zeroOrMore>
  </define>
</grammar>
<!--
  tccggtcggcattttgttctgagagggagagacggaacgagagagagacacacacagggctccttccc
  schema editor: myles.byrne@helsinki.fi
  cccgccctcccccctccctccgtcggtaccgactcacccgacaccaccaagccgcagggagggacgcc
-->
